/* HERO FIX */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
main > .max-w-7xl {
    padding: 0 !important; /* biar container lain gak ganggu hero */
    max-width: 100% !important;
}