/* navbar.css */

/* Animasi fade in dropdown */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Opsional: biar dropdown lebih smooth */
.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

.group:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.icon-active {
  opacity: 1 !important;
  transform: scale(1) rotate(0deg) !important;
}

.icon-inactive {
  opacity: 0 !important;
  transform: scale(0.75) rotate(90deg) !important;
}

