/* CTA MARQUEE */
@keyframes marquee {
    0%   { transform: translateX(40%); }
    100% { transform: translateX(-40%); }
}
.animate-marquee {
    width: max-content;
    animation: marquee 40s linear infinite;
}
