.icon-transition {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.rotate-in {
  opacity: 0;
  transform: rotate(-90deg) scale(0.8);
}

.rotate-in.show {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.rotate-out {
  opacity: 0;
  transform: rotate(90deg) scale(0.8);
}